html, body, .main-container {
	height: 100%;
	margin: 0;
	padding: 0;
}
.map-container {
	width: 100%;
	height: 100%;
}

.info-window {
	font-size: 1.2rem;
	font-family: "Open Sans";
	color:#125971;
}
